/* basic reset */
body, html {
    margin: 0;
    padding: 0;
}

/* Make the header stick to the top */
.header {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    width: 100%;
    background-color: #FFED00;
    color: black;
    padding: 10px 0;
    text-align: center;
    z-index: 1000; /* Ensures the header stays on top */
    transition: transform 0.3s ease-in-out; /*smooth hiding*/
}

.logo-container{
    text-align: center;
    padding: 5px 0;
}

.logo {
    height: 50px; /* Adjust the height as needed */
    width: auto;  /* Maintain aspect ratio */
}

/* Styling for navigation links */
.nav-links {
    display: flex;
    justify-content: center;
    background-color: #333;
    padding: 10px 0;
}

.nav-links a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
}

.nav-links a:hover {
    background-color: #555;
}

/* Add extra space to the body for the navigation bar and more */
body {
    padding-top: 100px; /* Extra padding to push content lower */
}

/* Optionally add margin to the first section */
section {
    margin-top: 30px;
}

/*hidden header on scroll*/
.header.hidden {
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
}